/* Layout  
box1        box2        box3
    title       map         card
    git                     block
                            header
                            total-block, recent-block
*/
html,body {
    height: 100%;
    margin: 0;
    font-family: 'twayair';
}
.box-container {
    display: flex;
    width: 100%;
    height: 100%;
}
.box1 {
    background-color: #004c92;
    width: 12%;
    height: 100%;
}
.title {
    text-align: center;
    color: #fff;
    overflow: hidden;
}
.title img{
    max-width: 100%;
    height: auto;
    display: block;
}
.box2 {
    width: 65%;
    height: 100%;
}
#map {
    margin-left: 5px;
    margin-top: 10px;
    width: 100%;
    height: 98%;
    box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.12);
}
.box3 {
    width: 23%;
}
.card{
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.12);
    text-align: center;
    vertical-align: middle;
}
.card_list{
    overflow: auto;
    height: 92%;
}
.button{
    height: 5%;
}
.block{
    display: flex;
    height: 100px;
}
.header{
    background-color: #004c92;
    color: #fff;
    height: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12pt;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    word-break : nowrap;
}
.total-block{
    width: 50%;
    border-right: 1px solid #e0e0e0;
}
.recent-block{
    width: 50%;
}
.h2{
    line-height: 1.1;
}
select { 
    width: 48%; 
    height: 36px;
    border: 0px solid #ddd;
    box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    padding-right: 10px;
    font-size: 12px;
}
select:focus {outline:none;}
input {
    width: 48%; 
    height: 36px;
    border: 0px solid #ddd;
    box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.12);
    vertical-align: bottom;
    background: #5195f7;
    border-radius: 5px;
    color: white;
    font-size: 12px;
}
form.button{
    padding-top: 13px; 
    padding-left: 10px;
    /* min-width: 100px */
}
@media(min-width: 800px){
    #example_image_large{
        display: block;
    }
    #example_image_small{
        display: none;
    }
}
@media(max-width: 800px){
    #example_image_large{
        display: none;
    }
    #example_image_small{
        display: block;
    }
}
@media(max-width: 800px){
    #example_image_large{
        display: none;
    }
}

/* about.php */
.box4{
    width: 88%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}
@font-face {
    font-family: 'twayair';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
