.main {
    position: relative;
    width: 1027px;
    margin-left: 210px;
    padding-left: 30px;
    padding-top: 20px;
}
div {
    display: block;
}
.sidebar {
    width: 210px;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: block;
    overflow: hidden;
    background-color: #004c92;
    color: white;
}
.title{
    display: block;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.git{
    position: absolute;
    left: 0;
    bottom: 0;
    padding-left: 15px;
    padding-bottom: 15px;
    text-align: center;
    -webkit-text-emphasis: open;

}
#map {
    width: 60%;
    height: 100%;
    display: block;
    position: fixed;
}

/* .label {margin-bottom: 96px;} */
.label * {display: inline-block;vertical-align: top;}
.label .left {background: url("https://t1.daumcdn.net/localimg/localimages/07/2011/map/storeview/tip_l.png") no-repeat;display: inline-block;height: 24px;overflow: hidden;vertical-align: top;width: 7px;}
.label .center {background: url(https://t1.daumcdn.net/localimg/localimages/07/2011/map/storeview/tip_bg.png) repeat-x;display: inline-block;height: 24px;font-size: 12px;line-height: 24px;}
.label .right {background: url("https://t1.daumcdn.net/localimg/localimages/07/2011/map/storeview/tip_r.png") -1px 0  no-repeat;display: inline-block;height: 24px;overflow: hidden;width: 6px;}